### Importing libraries

In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_columns=None

### Laoding data

In [2]:
df = pd.read_csv('movies_complete.csv',parse_dates=['release_date'])
df.head()

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,United States of America,5415.0,7.7,21.946943,81.0,"Led by Woody, Andy's toys live happily in his ...",English,<img src='http://image.tmdb.org/t/p/w185//uXDf...,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter
1,8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.0,262.797249,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America,2413.0,6.9,17.015539,104.0,When siblings Judy and Peter discover an encha...,English|Fran√ßais,<img src='http://image.tmdb.org/t/p/w185//vgpX...,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,26,16,Joe Johnston
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,92.0,6.5,11.712900,101.0,A family wedding reignites the ancient feud be...,English,<img src='http://image.tmdb.org/t/p/w185//1FSX...,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...,7,4,Howard Deutch
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,1995-12-22,Comedy|Drama|Romance,NaN,en,16.0,81.452156,Twentieth Century Fox Film Corporation,United States of America,34.0,6.1,3.859495,127.0,"Cheated on, mistreated and stepped on, the wom...",English,<img src='http://image.tmdb.org/t/p/w185//4wjG...,Whitney Houston|Angela Bassett|Loretta Devine|...,10,10,Forest Whitaker
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,1995-02-10,Comedy,Father of the Bride Collection,en,NaN,76.578911,Sandollar Productions|Touchstone Pictures,United States of America,173.0,5.7,8.387519,106.0,Just when George Banks has recovered from his ...,English,<img src='http://image.tmdb.org/t/p/w185//lf9R...,Steve Martin|Diane Keaton|Martin Short|Kimberl...,12,7,Charles Shyer

In [3]:
df.shape

(44691, 22)

In [4]:
df.columns

Index(['id', 'title', 'tagline', 'release_date', 'genres',
       'belongs_to_collection', 'original_language', 'budget_musd',
       'revenue_musd', 'production_companies', 'production_countries',
       'vote_count', 'vote_average', 'popularity', 'runtime', 'overview',
       'spoken_languages', 'poster_path', 'cast', 'cast_size', 'crew_size',
       'director'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44691 entries, 0 to 44690
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     44691 non-null  int64
 1   title                  44691 non-null  object
 2   tagline                20284 non-null  object
 3   release_date           44657 non-null  datetime64[ns]
 4   genres                 42586 non-null  object
 5   belongs_to_collection  4463 non-null   object
 6   original_language      44681 non-null  object
 7   budget_musd            8854 non-null   float64
 8   revenue_musd           7385 non-null   float64
 9   production_companies   33356 non-null  object
 10  production_countries   38835 non-null  object
 11  vote_count             44691 non-null  float64
 12  vote_average           42077 non-null  float64
 13  popularity             44691 non-null  float64
 14  runtime                43179 non-null  float64
 15  overview               43740 non-null  object
 16  spoken_languages       41094 non-null  object
 17  poster_path            44467 non-null  object
 18  cast                   42502 non-null  object
 19  cast_size              44691 non-null  int64
 20  crew_size              44691 non-null  int64
 21  director               43960 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(3), object(12)
memory usage: 7.5+ MB

In [6]:
df.describe()

,id,release_date,budget_musd,revenue_musd,vote_count,vote_average,popularity,runtime,cast_size,crew_size
count,44691.000000,44657,8854.000000,7385.000000,44691.000000,42077.000000,44691.000000,43179.000000,44691.000000,44691.000000
mean,107186.242845,1992-04-28 16:30:02.539355520,21.669886,68.968649,111.653778,6.003341,2.957460,97.566850,12.479090,10.313643
min,2.000000,1874-12-09 00:00:00,0.000001,0.000001,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,26033.500000,1978-08-12 00:00:00,2.000000,2.405420,3.000000,5.300000,0.402038,86.000000,6.000000,2.000000
50%,59110.000000,2001-08-16 00:00:00,8.200000,16.872671,10.000000,6.100000,1.150055,95.000000,10.000000,6.000000
75%,154251.000000,2010-12-10 00:00:00,25.000000,67.642693,35.000000,6.800000,3.768882,107.000000,15.000000,12.000000
max,469172.000000,2017-12-27 00:00:00,380.000000,2787.965087,14075.000000,10.000000,547.488298,1256.000000,313.000000,435.000000
std,111806.362236,NaN,34.359837,146.608966,495.322313,1.281060,6.040008,34.653409,12.124663,15.892154

### Removing irrelevant column

In [7]:
df = df.drop(columns=['tagline','production_countries','overview','poster_path'])
df.head(1)

,id,title,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,vote_count,vote_average,popularity,runtime,spoken_languages,cast,cast_size,crew_size,director
0,862,Toy Story,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,5415.0,7.7,21.946943,81.0,English,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter

### Renaming columns

In [8]:
df = df.rename(columns={
    'budget_musd':'budget',
    'revenue_musd':'revenue',
    'vote_average':'rating'
})
df.head(1)

,id,title,release_date,genres,belongs_to_collection,original_language,budget,revenue,production_companies,vote_count,rating,popularity,runtime,spoken_languages,cast,cast_size,crew_size,director
0,862,Toy Story,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,5415.0,7.7,21.946943,81.0,English,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter

In [9]:
df.isnull().sum()

id                           0
title                        0
release_date                34
genres                    2105
belongs_to_collection    40228
original_language           10
budget                   35837
revenue                  37306
production_companies     11335
vote_count                   0
rating                    2614
popularity                   0
runtime                   1512
spoken_languages          3597
cast                      2189
cast_size                    0
crew_size                    0
director                   731
dtype: int64

### Filling null values with average

In [10]:
df = df.fillna({
    'budget':df['budget'].mean(),
    'revenue':df['revenue'].mean(),
    'rating':df['rating'].mean(),
    'runtime':df['runtime'].mean() 
}                           
)
df.isnull().sum()

id                           0
title                        0
release_date                34
genres                    2105
belongs_to_collection    40228
original_language           10
budget                       0
revenue                      0
production_companies     11335
vote_count                   0
rating                       0
popularity                   0
runtime                      0
spoken_languages          3597
cast                      2189
cast_size                    0
crew_size                    0
director                   731
dtype: int64

### Creating new columns Profit & roi

In [11]:
df['profit'] = df['revenue']-df['budget']
df['roi'] = df['revenue']/df['budget']
df.head(1)

,id,title,release_date,genres,belongs_to_collection,original_language,budget,revenue,production_companies,vote_count,rating,popularity,runtime,spoken_languages,cast,cast_size,crew_size,director,profit,roi
0,862,Toy Story,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,5415.0,7.7,21.946943,81.0,English,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter,343.554033,12.451801

### Highest rated movies

In [12]:
cols = list(df.columns)
cols = cols[1:2] + cols[6:8] + cols[9:12] + cols[-2:]
cols
edf = df[cols]
edf

,title,budget,revenue,vote_count,rating,popularity,profit,roi
0,Toy Story,30.000000,373.554033,5415.0,7.700000,21.946943,343.554033,12.451801
1,Jumanji,65.000000,262.797249,2413.0,6.900000,17.015539,197.797249,4.043035
2,Grumpier Old Men,21.669886,68.968649,92.0,6.500000,11.712900,47.298763,3.182696
3,Waiting to Exhale,16.000000,81.452156,34.0,6.100000,3.859495,65.452156,5.090760
4,Father of the Bride Part II,21.669886,76.578911,173.0,5.700000,8.387519,54.909025,3.533886
...,...,...,...,...,...,...,...,...
44686,Subdue,21.669886,68.968649,1.0,4.000000,0.072051,47.298763,3.182696
44687,Century of Birthing,21.669886,68.968649,3.0,9.000000,0.178241,47.298763,3.182696
44688,Betrayal,21.669886,68.968649,6.0,3.800000,0.903007,47.298763,3.182696
44689,Satan Triumphant,21.669886,68.968649,0.0,6.003341,0.003503,47.298763,3.182696
44690,Queerama,21.669886,68.968649,0.0,6.003341,0.163015,47.298763,3.182696

In [13]:
edf.sort_values(by='rating',ascending=False)

,title,budget,revenue,vote_count,rating,popularity,profit,roi
38756,Survive and Advance,21.669886,68.968649,2.0,10.0,0.081180,47.298763,3.182696
35896,Mad at the Moon,21.669886,68.968649,1.0,10.0,1.225055,47.298763,3.182696
44589,The Many Faces of Christopher Lee,21.669886,68.968649,1.0,10.0,0.051939,47.298763,3.182696
40322,Titus Andronicus,21.669886,68.968649,1.0,10.0,0.234944,47.298763,3.182696
35810,Sum of Histories,21.669886,68.968649,1.0,10.0,0.404432,47.298763,3.182696
...,...,...,...,...,...,...,...,...
39003,The Prey,21.669886,68.968649,1.0,0.0,0.693029,47.298763,3.182696
41306,The Man,21.669886,68.968649,1.0,0.0,1.047288,47.298763,3.182696
38997,The Florodora Girl,21.669886,68.968649,1.0,0.0,0.489142,47.298763,3.182696
38989,Love in the Rough,21.669886,68.968649,1.0,0.0,0.209990,47.298763,3.182696
42605,False Confessions,21.669886,68.968649,1.0,0.0,0.219166,47.298763,3.182696

In [14]:
df['vote_count'].median()

10.0

### Filtering data of vote_count>=10

In [15]:
fdf = edf.loc[edf['vote_count']>=10]
fdf = fdf.sort_values(by='rating',ascending=False)
fdf

,title,budget,revenue,vote_count,rating,popularity,profit,roi
20787,As I Was Moving Ahead Occasionally I Saw Brief...,21.669886,68.968649,10.0,9.5,0.798400,47.298763,3.182696
42626,Planet Earth II,21.669886,68.968649,50.0,9.5,5.651997,47.298763,3.182696
18462,The Civil War,21.669886,68.968649,15.0,9.2,3.431403,47.298763,3.182696
10233,Dilwale Dulhania Le Jayenge,13.200000,100.000000,661.0,9.1,34.457024,86.800000,7.575758
42822,Cosmos,21.669886,68.968649,41.0,9.1,0.282584,47.298763,3.182696
...,...,...,...,...,...,...,...,...
25418,Santa Claus,21.669886,68.968649,12.0,1.6,1.248299,47.298763,3.182696
7030,The Beast of Yucca Flats,21.669886,68.968649,18.0,1.6,0.930790,47.298763,3.182696
41602,Call Me by Your Name,4.696772,68.968649,18.0,0.0,4.300874,64.271877,14.684266
30618,Extinction: Nature Has Evolved,3.400000,68.968649,10.0,0.0,1.862426,65.568649,20.284897
43576,How to Talk to Girls at Parties,21.669886,68.968649,10.0,0.0,2.068008,47.298763,3.182696

In [16]:
# Highest rated top 10 movies

hrm = fdf.head(10)
hrm

,title,budget,revenue,vote_count,rating,popularity,profit,roi
20787,As I Was Moving Ahead Occasionally I Saw Brief...,21.669886,68.968649,10.0,9.5,0.798400,47.298763,3.182696
42626,Planet Earth II,21.669886,68.968649,50.0,9.5,5.651997,47.298763,3.182696
18462,The Civil War,21.669886,68.968649,15.0,9.2,3.431403,47.298763,3.182696
10233,Dilwale Dulhania Le Jayenge,13.200000,100.000000,661.0,9.1,34.457024,86.800000,7.575758
42822,Cosmos,21.669886,68.968649,41.0,9.1,0.282584,47.298763,3.182696
38323,Bruce Lee: The Legend,21.669886,68.968649,19.0,8.9,3.475895,47.298763,3.182696
43000,Miss Saigon: 25th Anniversary,21.669886,68.968649,10.0,8.9,1.932469,47.298763,3.182696
41447,Kizumonogatari Part 2: Nekketsu,21.669886,68.968649,11.0,8.9,2.431540,47.298763,3.182696
43262,Life Cycles,21.669886,68.968649,27.0,8.8,1.784965,47.298763,3.182696
42581,London Spy,21.669886,68.968649,12.0,8.8,1.119600,47.298763,3.182696

### Another way of sorting data in descending order="nlargest"

In [17]:
fdf.nlargest(10,'rating')

,title,budget,revenue,vote_count,rating,popularity,profit,roi
20787,As I Was Moving Ahead Occasionally I Saw Brief...,21.669886,68.968649,10.0,9.5,0.798400,47.298763,3.182696
42626,Planet Earth II,21.669886,68.968649,50.0,9.5,5.651997,47.298763,3.182696
18462,The Civil War,21.669886,68.968649,15.0,9.2,3.431403,47.298763,3.182696
10233,Dilwale Dulhania Le Jayenge,13.200000,100.000000,661.0,9.1,34.457024,86.800000,7.575758
42822,Cosmos,21.669886,68.968649,41.0,9.1,0.282584,47.298763,3.182696
38323,Bruce Lee: The Legend,21.669886,68.968649,19.0,8.9,3.475895,47.298763,3.182696
43000,Miss Saigon: 25th Anniversary,21.669886,68.968649,10.0,8.9,1.932469,47.298763,3.182696
41447,Kizumonogatari Part 2: Nekketsu,21.669886,68.968649,11.0,8.9,2.431540,47.298763,3.182696
43262,Life Cycles,21.669886,68.968649,27.0,8.8,1.784965,47.298763,3.182696
42581,London Spy,21.669886,68.968649,12.0,8.8,1.119600,47.298763,3.182696

### "nsmallest"=sorting in ascending order

In [18]:
fdf.nsmallest(10,'rating')

,title,budget,revenue,vote_count,rating,popularity,profit,roi
41602,Call Me by Your Name,4.696772,68.968649,18.0,0.0,4.300874,64.271877,14.684266
30618,Extinction: Nature Has Evolved,3.400000,68.968649,10.0,0.0,1.862426,65.568649,20.284897
43576,How to Talk to Girls at Parties,21.669886,68.968649,10.0,0.0,2.068008,47.298763,3.182696
25418,Santa Claus,21.669886,68.968649,12.0,1.6,1.248299,47.298763,3.182696
7030,The Beast of Yucca Flats,21.669886,68.968649,18.0,1.6,0.930790,47.298763,3.182696
32437,Saving Christmas,21.669886,68.968649,25.0,1.7,1.231644,47.298763,3.182696
43502,The Wild World of Batwoman,21.669886,68.968649,12.0,1.8,0.455183,47.298763,3.182696
38422,The Blade Master,21.669886,68.968649,15.0,1.9,3.169575,47.298763,3.182696
31486,The Cloth,2.000000,68.968649,12.0,1.9,3.733898,66.968649,34.484325
8065,Superbabies: Baby Geniuses 2,21.669886,9.109322,36.0,1.9,7.538821,-12.560564,0.420368

### Highest ROI

In [19]:
fdf['budget'].median()

21.66988615111814

In [20]:
fdf = fdf.loc[fdf['budget']>=5]
fdf

,title,budget,revenue,vote_count,rating,popularity,profit,roi
20787,As I Was Moving Ahead Occasionally I Saw Brief...,21.669886,68.968649,10.0,9.5,0.798400,47.298763,3.182696
42626,Planet Earth II,21.669886,68.968649,50.0,9.5,5.651997,47.298763,3.182696
18462,The Civil War,21.669886,68.968649,15.0,9.2,3.431403,47.298763,3.182696
10233,Dilwale Dulhania Le Jayenge,13.200000,100.000000,661.0,9.1,34.457024,86.800000,7.575758
42822,Cosmos,21.669886,68.968649,41.0,9.1,0.282584,47.298763,3.182696
...,...,...,...,...,...,...,...,...
43502,The Wild World of Batwoman,21.669886,68.968649,12.0,1.8,0.455183,47.298763,3.182696
32437,Saving Christmas,21.669886,68.968649,25.0,1.7,1.231644,47.298763,3.182696
25418,Santa Claus,21.669886,68.968649,12.0,1.6,1.248299,47.298763,3.182696
7030,The Beast of Yucca Flats,21.669886,68.968649,18.0,1.6,0.930790,47.298763,3.182696
43576,How to Talk to Girls at Parties,21.669886,68.968649,10.0,0.0,2.068008,47.298763,3.182696

In [21]:
hri = fdf.nlargest(10,'roi')
hri

,title,budget,revenue,vote_count,rating,popularity,profit,roi
1055,E.T. the Extra-Terrestrial,10.5,792.965326,3359.0,7.3,19.358546,782.465326,75.520507
5123,My Big Fat Greek Wedding,5.0,368.744044,686.0,6.2,6.719949,363.744044,73.748809
255,Star Wars,11.0,775.398007,6778.0,8.1,42.149697,764.398007,70.490728
1327,Jaws,7.0,470.654000,2628.0,7.5,19.726114,463.654000,67.236286
2333,Crocodile Dundee,5.0,328.203506,512.0,6.3,7.791212,323.203506,65.640701
1866,The Exorcist,8.0,441.306145,2046.0,7.5,12.137595,433.306145,55.163268
41505,Get Out,5.0,252.434250,2978.0,7.2,36.894806,247.434250,50.486850
351,Four Weddings and a Funeral,6.0,254.700832,654.0,6.6,8.990345,248.700832,42.450139
17843,Paranormal Activity 3,5.0,205.703818,685.0,5.9,10.996308,200.703818,41.140764
826,The Godfather,6.0,245.066411,6024.0,8.5,41.109264,239.066411,40.844402

### Best and worst movies

In [22]:
def best_find(col,num):
    return fdf.sort_values(by=col,ascending=False).head(num)

In [45]:
# best_find('revenue',10)
# best_find('rating',10)
best_find('popularity',10)

,title,budget,revenue,vote_count,rating,popularity,profit,roi
30330,Minions,74.0,1156.730962,4729.0,6.4,547.488298,1082.730962,15.631499
32927,Wonder Woman,149.0,820.580447,5025.0,7.2,294.337037,671.580447,5.507251
41556,Beauty and the Beast,160.0,1262.886337,5530.0,6.8,287.253654,1102.886337,7.893040
42940,Baby Driver,34.0,224.511319,2083.0,7.2,228.032744,190.511319,6.603274
24187,Big Hero 6,165.0,652.105443,6289.0,7.8,213.849907,487.105443,3.952154
26272,Deadpool,58.0,783.112979,11444.0,7.4,187.860492,725.112979,13.501948
26273,Guardians of the Galaxy Vol. 2,200.0,863.416141,4858.0,7.6,185.330992,663.416141,4.317081
14448,Avatar,237.0,2787.965087,12114.0,7.2,185.070892,2550.965087,11.763566
24085,John Wick,20.0,88.761661,5499.0,7.0,183.870374,68.761661,4.438083
23419,Gone Girl,61.0,369.330363,6023.0,7.9,154.801009,308.330363,6.054596

In [24]:
highest_budget = best_find('budget',20)
highest_budget

,title,budget,revenue,vote_count,rating,popularity,profit,roi
16986,Pirates of the Caribbean: On Stranger Tides,380.0,1045.713802,5068.0,6.4,27.887720,665.713802,2.751878
11743,Pirates of the Caribbean: At World's End,300.0,961.000000,4627.0,6.9,31.363664,661.000000,3.203333
26268,Avengers: Age of Ultron,280.0,1405.403694,6908.0,7.3,37.379420,1125.403694,5.019299
10985,Superman Returns,270.0,391.081192,1429.0,5.4,13.284712,121.081192,1.448449
18517,John Carter,260.0,284.139100,2170.0,6.1,14.670353,24.139100,1.092843
44095,Transformers: The Last Knight,260.0,604.942143,1440.0,6.2,39.186819,344.942143,2.326701
16006,Tangled,260.0,591.794936,3419.0,7.4,14.684761,331.794936,2.276134
11696,Spider-Man 3,258.0,890.871626,3687.0,5.9,27.614265,632.871626,3.452991
20959,The Lone Ranger,255.0,89.289910,2361.0,5.9,12.729104,-165.710090,0.350157
42562,The Fate of the Furious,250.0,1238.764765,3803.0,6.8,48.573287,988.764765,4.955059
16004,Harry Potter and the Deathly Hallows: Part 1,250.0,954.305868,5708.0,7.5,23.300362,704.305868,3.817223
23108,X-Men: Days of Future Past,250.0,747.862775,6155.0,7.5,26.058586,497.862775,2.991451
26274,Captain America: Civil War,250.0,1153.304495,7462.0,7.1,145.882135,903.304495,4.613218
19779,The Hobbit: An Unexpected Journey,250.0,1021.103568,8427.0,7.0,23.253089,771.103568,4.084414
30694,Batman v Superman: Dawn of Justice,250.0,873.260194,7189.0,5.7,31.435879,623.260194,3.493041
21825,The Hobbit: The Desolation of Smaug,250.0,958.400000,4633.0,7.6,20.644776,708.400000,3.833600
25116,The Hobbit: The Battle of the Five Armies,250.0,956.019788,4884.0,7.1,31.718977,706.019788,3.824079
13798,Harry Potter and the Half-Blood Prince,250.0,933.959197,5435.0,7.4,19.083723,683.959197,3.735837
18090,The Dark Knight Rises,250.0,1084.939099,9263.0,7.6,20.582580,834.939099,4.339756
30390,Spectre,245.0,880.674609,4552.0,6.3,24.926577,635.674609,3.594590

In [25]:
highest_revenue = best_find('revenue',20)
highest_revenue

,title,budget,revenue,vote_count,rating,popularity,profit,roi
14448,Avatar,237.0,2787.965087,12114.0,7.2,185.070892,2550.965087,11.763566
26265,Star Wars: The Force Awakens,245.0,2068.223624,7993.0,7.5,31.626013,1823.223624,8.441729
1620,Titanic,200.0,1845.034188,7770.0,7.5,26.889070,1645.034188,9.225171
17669,The Avengers,220.0,1519.557910,12000.0,7.4,89.887648,1299.557910,6.907081
24812,Jurassic World,150.0,1513.528810,8842.0,6.5,32.790475,1363.528810,10.090192
28501,Furious 7,190.0,1506.249360,4253.0,7.3,27.275687,1316.249360,7.927628
26268,Avengers: Age of Ultron,280.0,1405.403694,6908.0,7.3,37.379420,1125.403694,5.019299
17294,Harry Potter and the Deathly Hallows: Part 2,125.0,1342.000000,6141.0,7.9,24.990737,1217.000000,10.736000
21876,Frozen,150.0,1274.219009,5440.0,7.3,24.248243,1124.219009,8.494793
41556,Beauty and the Beast,160.0,1262.886337,5530.0,6.8,287.253654,1102.886337,7.893040
42562,The Fate of the Furious,250.0,1238.764765,3803.0,6.8,48.573287,988.764765,4.955059
20622,Iron Man 3,200.0,1215.439994,8951.0,6.8,23.721243,1015.439994,6.077200
30330,Minions,74.0,1156.730962,4729.0,6.4,547.488298,1082.730962,15.631499
26274,Captain America: Civil War,250.0,1153.304495,7462.0,7.1,145.882135,903.304495,4.613218
17153,Transformers: Dark of the Moon,195.0,1123.746996,3351.0,6.1,4.503505,928.746996,5.762805
6939,The Lord of the Rings: The Return of the King,94.0,1118.888979,8226.0,8.1,29.324358,1024.888979,11.903074
19089,Skyfall,200.0,1108.561013,7718.0,6.9,20.309585,908.561013,5.542805
23362,Transformers: Age of Extinction,210.0,1091.405097,3136.0,5.8,18.495599,881.405097,5.197167
18090,The Dark Knight Rises,250.0,1084.939099,9263.0,7.6,20.582580,834.939099,4.339756
15236,Toy Story 3,200.0,1066.969703,4710.0,7.6,16.966470,866.969703,5.334849

In [26]:
highest_vote_count = best_find('vote_count',20)
highest_vote_count

,title,budget,revenue,vote_count,rating,popularity,profit,roi
15368,Inception,160.0,825.532764,14075.0,8.1,29.108149,665.532764,5.159580
12396,The Dark Knight,185.0,1004.558444,12269.0,8.3,123.167259,819.558444,5.430046
14448,Avatar,237.0,2787.965087,12114.0,7.2,185.070892,2550.965087,11.763566
17669,The Avengers,220.0,1519.557910,12000.0,7.4,89.887648,1299.557910,6.907081
26272,Deadpool,58.0,783.112979,11444.0,7.4,187.860492,725.112979,13.501948
22635,Interstellar,165.0,675.120017,11187.0,8.1,32.213481,510.120017,4.091636
19857,Django Unchained,100.0,425.368238,10297.0,7.8,19.785025,325.368238,4.253682
23495,Guardians of the Galaxy,170.0,773.328629,10014.0,7.9,53.291601,603.328629,4.548992
2816,Fight Club,63.0,100.853753,9678.0,8.3,63.869599,37.853753,1.600853
18082,The Hunger Games,75.0,691.210692,9634.0,6.9,20.031667,616.210692,9.216143
26263,Mad Max: Fury Road,150.0,378.858340,9629.0,7.3,29.361780,228.858340,2.525722
18090,The Dark Knight Rises,250.0,1084.939099,9263.0,7.6,20.582580,834.939099,4.339756
2432,The Matrix,63.0,463.517383,9079.0,7.9,33.366332,400.517383,7.357419
12503,Iron Man,140.0,585.174222,8951.0,7.4,22.073099,445.174222,4.179816
20622,Iron Man 3,200.0,1215.439994,8951.0,6.8,23.721243,1015.439994,6.077200
4821,The Lord of the Rings: The Fellowship of the Ring,93.0,871.368364,8892.0,8.0,32.070725,778.368364,9.369552
24812,Jurassic World,150.0,1513.528810,8842.0,6.5,32.790475,1363.528810,10.090192
291,Pulp Fiction,8.0,213.928762,8670.0,8.3,140.950236,205.928762,26.741095
19779,The Hobbit: An Unexpected Journey,250.0,1021.103568,8427.0,7.0,23.253089,771.103568,4.084414
313,The Shawshank Redemption,25.0,28.341469,8358.0,8.5,51.645403,3.341469,1.133659

### concate all best movies by creating a function

In [27]:
edf = pd.DataFrame()
cols = list(fdf.columns)
cols.remove('title')
for col in cols:
    tdf = best_find(col,20)
    edf = pd.concat([edf,tdf])
    
edf

,title,budget,revenue,vote_count,rating,popularity,profit,roi
16986,Pirates of the Caribbean: On Stranger Tides,380.0,1045.713802,5068.0,6.4,27.887720,665.713802,2.751878
11743,Pirates of the Caribbean: At World's End,300.0,961.000000,4627.0,6.9,31.363664,661.000000,3.203333
26268,Avengers: Age of Ultron,280.0,1405.403694,6908.0,7.3,37.379420,1125.403694,5.019299
10985,Superman Returns,270.0,391.081192,1429.0,5.4,13.284712,121.081192,1.448449
18517,John Carter,260.0,284.139100,2170.0,6.1,14.670353,24.139100,1.092843
...,...,...,...,...,...,...,...,...
18300,The Intouchables,13.0,426.480871,5410.0,8.2,16.086919,413.480871,32.806221
12145,Juno,7.5,231.411584,2313.0,7.0,11.791591,223.911584,30.854878
40848,Split,9.0,276.921998,4461.0,7.0,28.920839,267.921998,30.769111
1320,Grease,6.0,181.813770,1633.0,7.2,7.854899,175.813770,30.302295
1144,The Empire Strikes Back,18.0,538.400000,5998.0,8.2,19.470959,520.400000,29.911111

In [28]:
edf.loc[edf['title'].duplicated(keep=False)]

,title,budget,revenue,vote_count,rating,popularity,profit,roi
26268,Avengers: Age of Ultron,280.0,1405.403694,6908.0,7.3,37.379420,1125.403694,5.019299
42562,The Fate of the Furious,250.0,1238.764765,3803.0,6.8,48.573287,988.764765,4.955059
26274,Captain America: Civil War,250.0,1153.304495,7462.0,7.1,145.882135,903.304495,4.613218
19779,The Hobbit: An Unexpected Journey,250.0,1021.103568,8427.0,7.0,23.253089,771.103568,4.084414
18090,The Dark Knight Rises,250.0,1084.939099,9263.0,7.6,20.582580,834.939099,4.339756
14448,Avatar,237.0,2787.965087,12114.0,7.2,185.070892,2550.965087,11.763566
26265,Star Wars: The Force Awakens,245.0,2068.223624,7993.0,7.5,31.626013,1823.223624,8.441729
1620,Titanic,200.0,1845.034188,7770.0,7.5,26.889070,1645.034188,9.225171
17669,The Avengers,220.0,1519.557910,12000.0,7.4,89.887648,1299.557910,6.907081
24812,Jurassic World,150.0,1513.528810,8842.0,6.5,32.790475,1363.528810,10.090192
28501,Furious 7,190.0,1506.249360,4253.0,7.3,27.275687,1316.249360,7.927628
26268,Avengers: Age of Ultron,280.0,1405.403694,6908.0,7.3,37.379420,1125.403694,5.019299
17294,Harry Potter and the Deathly Hallows: Part 2,125.0,1342.000000,6141.0,7.9,24.990737,1217.000000,10.736000
21876,Frozen,150.0,1274.219009,5440.0,7.3,24.248243,1124.219009,8.494793
41556,Beauty and the Beast,160.0,1262.886337,5530.0,6.8,287.253654,1102.886337,7.893040
42562,The Fate of the Furious,250.0,1238.764765,3803.0,6.8,48.573287,988.764765,4.955059
20622,Iron Man 3,200.0,1215.439994,8951.0,6.8,23.721243,1015.439994,6.077200
30330,Minions,74.0,1156.730962,4729.0,6.4,547.488298,1082.730962,15.631499
26274,Captain America: Civil War,250.0,1153.304495,7462.0,7.1,145.882135,903.304495,4.613218
17153,Transformers: Dark of the Moon,195.0,1123.746996,3351.0,6.1,4.503505,928.746996,5.762805
6939,The Lord of the Rings: The Return of the King,94.0,1118.888979,8226.0,8.1,29.324358,1024.888979,11.903074
19089,Skyfall,200.0,1108.561013,7718.0,6.9,20.309585,908.561013,5.542805
23362,Transformers: Age of Extinction,210.0,1091.405097,3136.0,5.8,18.495599,881.405097,5.197167
18090,The Dark Knight Rises,250.0,1084.939099,9263.0,7.6,20.582580,834.939099,4.339756
12396,The Dark Knight,185.0,1004.558444,12269.0,8.3,123.167259,819.558444,5.430046
14448,Avatar,237.0,2787.965087,12114.0,7.2,185.070892,2550.965087,11.763566
17669,The Avengers,220.0,1519.557910,12000.0,7.4,89.887648,1299.557910,6.907081
26272,Deadpool,58.0,783.112979,11444.0,7.4,187.860492,725.112979,13.501948
18090,The Dark Knight Rises,250.0,1084.939099,9263.0,7.6,20.582580,834.939099,4.339756
20622,Iron Man 3,200.0,1215.439994,8951.0,6.8,23.721243,1015.439994,6.077200
24812,Jurassic World,150.0,1513.528810,8842.0,6.5,32.790475,1363.528810,10.090192
291,Pulp Fiction,8.0,213.928762,8670.0,8.3,140.950236,205.928762,26.741095
19779,The Hobbit: An Unexpected Journey,250.0,1021.103568,8427.0,7.0,23.253089,771.103568,4.084414
30330,Minions,74.0,1156.730962,4729.0,6.4,547.488298,1082.730962,15.631499
41556,Beauty and the Beast,160.0,1262.886337,5530.0,6.8,287.253654,1102.886337,7.893040
26272,Deadpool,58.0,783.112979,11444.0,7.4,187.860492,725.112979,13.501948
14448,Avatar,237.0,2787.965087,12114.0,7.2,185.070892,2550.965087,11.763566
26274,Captain America: Civil War,250.0,1153.304495,7462.0,7.1,145.882135,903.304495,4.613218
291,Pulp Fiction,8.0,213.928762,8670.0,8.3,140.950236,205.928762,26.741095
12396,The Dark Knight,185.0,1004.558444,12269.0,8.3,123.167259,819.558444,5.430046
17669,The Avengers,220.0,1519.557910,12000.0,7.4,89.887648,1299.557910,6.907081
14448,Avatar,237.0,2787.965087,12114.0,7.2,185.070892,2550.965087,11.763566
26265,Star Wars: The Force Awakens,245.0,2068.223624,7993.0,7.5,31.626013,1823.223624,8.441729
1620,Titanic,200.0,1845.034188,7770.0,7.5,26.889070,1645.034188,9.225171
24812,Jurassic World,150.0,1513.528810,8842.0,6.5,32.790475,1363.528810,10.090192
28501,Furious 7,190.0,1506.249360,4253.0,7.3,27.275687,1316.249360,7.927628
17669,The Avengers,220.0,1519.557910,12000.0,7.4,89.887648,1299.557910,6.907081
17294,Harry Potter and the Deathly Hallows: Part 2,125.0,1342.000000,6141.0,7.9,24.990737,1217.000000,10.736000
26268,Avengers: Age of Ultron,280.0,1405.403694,6908.0,7.3,37.379420,1125.403694,5.019299
21876,Frozen,150.0,1274.219009,5440.0,7.3,24.248243,1124.219009,8.494793
41556,Beauty and the Beast,160.0,1262.886337,5530.0,6.8,287.253654,1102.886337,7.893040
30330,Minions,74.0,1156.730962,4729.0,6.4,547.488298,1082.730962,15.631499
6939,The Lord of the Rings: The Return of the King,94.0,1118.888979,8226.0,8.1,29.324358,1024.888979,11.903074
20622,Iron Man 3,200.0,1215.439994,8951.0,6.8,23.721243,1015.439994,6.077200
42562,The Fate of the Furious,250.0,1238.764765,3803.0,6.8,48.573287,988.764765,4.955059
17153,Transformers: Dark of the Moon,195.0,1123.746996,3351.0,6.1,4.503505,928.746996,5.762805
19089,Skyfall,200.0,1108.561013,7718.0,6.9,20.309585,908.561013,5.542805
26274,Captain America: Civil War,250.0,1153.304495,7462.0,7.1,145.882135,903.304495,4.613218
23362,Transformers: Age of Extinction,210.0,1091.405097,3136.0,5.8,18.495599,881.405097,5.197167

In [29]:
edf['title'].value_counts().head(10).to_csv('Best_movies.csv')

### Find worst movies

In [30]:
def worst_find(col,num):
    return fdf.sort_values(by=col,ascending=True).head(num)

In [31]:
edf = pd.DataFrame()
cols = list(fdf.columns)
cols.remove('title')
for col in cols:
    tdf = worst_find(col,20)
    edf = pd.concat([edf,tdf])
    
edf

,title,budget,revenue,vote_count,rating,popularity,profit,roi
41765,Bad Kids of Crestview Academy,5.000000,68.968649,13.0,4.8,2.258128,63.968649,1.379373e+01
11526,Like Mike 2: Streetball,5.000000,68.968649,16.0,3.6,2.255781,63.968649,1.379373e+01
28610,Hellgate,5.000000,68.968649,10.0,4.8,1.206717,63.968649,1.379373e+01
31763,The Gift,5.000000,58.978653,1077.0,6.7,8.585856,53.978653,1.179573e+01
41723,The Great Gilly Hopkins,5.000000,68.968649,53.0,6.1,3.206636,63.968649,1.379373e+01
...,...,...,...,...,...,...,...,...
9419,Tae Guk Gi: The Brotherhood of War,21.669886,0.000015,134.0,7.4,9.140411,-21.669871,6.922048e-07
9376,Ong-Bak: The Thai Warrior,21.669886,0.000015,556.0,7.0,7.899160,-21.669871,6.922048e-07
2037,Dance with Me,21.669886,0.000015,24.0,5.6,7.894516,-21.669871,6.922048e-07
8041,The Cookout,16.000000,0.000012,10.0,4.6,1.758079,-15.999988,7.500000e-07
2636,Never Talk to Strangers,6.400000,0.000006,31.0,4.7,7.506958,-6.399994,9.375000e-07

In [32]:
edf['title'].value_counts().head(10).to_csv('Worst_movies.csv')

### Science fiction action

In [33]:
df['genres'] = df['genres'].fillna('Not Known')
df.head(1)

,id,title,release_date,genres,belongs_to_collection,original_language,budget,revenue,production_companies,vote_count,rating,popularity,runtime,spoken_languages,cast,cast_size,crew_size,director,profit,roi
0,862,Toy Story,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,5415.0,7.7,21.946943,81.0,English,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter,343.554033,12.451801

In [34]:
mdf = df.loc[(df['genres'].str.contains('Science Fiction')) & (df['genres'].str.contains('Action'))]
mdf

,id,title,release_date,genres,belongs_to_collection,original_language,budget,revenue,production_companies,vote_count,rating,popularity,runtime,spoken_languages,cast,cast_size,crew_size,director,profit,roi
65,11525,Lawnmower Man 2: Beyond Cyberspace,1996-01-12,Action|Science Fiction,The Lawnmower Man Collection,en,21.669886,2.409225,New Line Cinema,32.0,2.8,2.495350,92.00000,English|Magyar,Patrick Bergin|Matt Frewer|Austin O'Brien|Ely ...,15,13,Farhad Mann,-19.260661,1.111785e-01
96,45549,Shopping,1994-12-06,Action|Adventure|Drama|Science Fiction|Thriller,NaN,en,21.669886,68.968649,Channel Four Films,13.0,5.6,2.657647,105.00000,English,Sadie Frost|Jude Law|Sean Pertwee|Fraser James...,21,3,Paul W.S. Anderson,47.298763,3.182696e+00
157,10329,Congo,1995-06-09,Action|Adventure|Drama|Mystery|Science Fiction...,NaN,en,50.000000,152.022101,"Paramount Pictures|Kennedy/Marshall Company, The",214.0,5.0,7.260574,109.00000,English|Fran√ßais,Laura Linney|Dylan Walsh|Ernie Hudson|Tim Curr...,21,9,Frank Marshall,102.022101,3.040442e+00
169,9886,Johnny Mnemonic,1995-05-26,Adventure|Action|Drama|Science Fiction|Thriller,NaN,en,25.000000,19.075720,TriStar Pictures|Alliance Communications Corpo...,380.0,5.5,11.715868,97.00000,English|Êó•Êú¨Ë™û,Keanu Reeves|Dina Meyer|Takeshi Kitano|Ice-T|D...,38,9,Robert Longo,-5.924280,7.630288e-01
178,9070,Mighty Morphin Power Rangers: The Movie,1995-06-30,Action|Adventure|Science Fiction|Family|Fantasy,Power Rangers Collection,en,15.000000,66.000000,Twentieth Century Fox Film Corporation|Saban E...,153.0,5.2,7.024227,92.00000,English,Amy Jo Johnson|Jason David Frank|David Yost|Jo...,12,15,Bryan Spicer,51.000000,4.400000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44424,429524,Drone Wars,2016-03-30,Action|Science Fiction|Thriller,NaN,en,21.669886,68.968649,Cinetel Films,7.0,3.0,1.451207,97.56685,English,Corin Nemec|Jude Lanston|Jake Allyn|Jolene And...,20,9,Jack Perez,47.298763,3.182696e+00
44530,58133,Possibility of an Island,2008-10-09,Science Fiction|Action,NaN,fr,21.669886,68.968649,Mandarin Films,3.0,4.8,0.402427,95.00000,Fran√ßais,Beno√Æt Magimel|Ramata Koite|Patrick Bauchau|An...,5,5,Michel Houellebecq,47.298763,3.182696e+00
44571,90063,Vampires in Havana,1985-07-30,Fantasy|Horror|Action|Comedy|Science Fiction|F...,NaN,es,21.669886,68.968649,Instituto Cubano del Arte e Industrias Cinemat...,10.0,5.3,0.035007,80.00000,Espa√±ol,Frank Gonz√°lez|Irela Bravo|Manuel Mar√≠n|Carlos...,15,11,Juan Padr√≥n,47.298763,3.182696e+00
44583,43085,Dead and Deader,2006-12-16,Horror|Action|Science Fiction|Comedy,NaN,en,21.669886,68.968649,Mindfire Entertainment,10.0,5.8,5.015147,89.00000,English,Dean Cain|Susan Ward|Guy Torry|Natassia Malthe...,14,3,Patrick Dinhut,47.298763,3.182696e+00
44590,71016,The Return of Captain Invincible,1983-01-01,Fantasy|Action|Comedy|Science Fiction,NaN,en,0.000005,68.968649,Seven Keys,7.0,6.0,0.836124,96.00000,English,Alan Arkin|Christopher Lee|Kate Fitzpatrick|Mi...,16,1,Philippe Mora,68.968644,1.379373e+07

In [35]:
mdf['cast'] = mdf['cast'].fillna('Unknown')
mdf

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6596\4220677720.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mdf['cast'] = mdf['cast'].fillna('Unknown')

,id,title,release_date,genres,belongs_to_collection,original_language,budget,revenue,production_companies,vote_count,rating,popularity,runtime,spoken_languages,cast,cast_size,crew_size,director,profit,roi
65,11525,Lawnmower Man 2: Beyond Cyberspace,1996-01-12,Action|Science Fiction,The Lawnmower Man Collection,en,21.669886,2.409225,New Line Cinema,32.0,2.8,2.495350,92.00000,English|Magyar,Patrick Bergin|Matt Frewer|Austin O'Brien|Ely ...,15,13,Farhad Mann,-19.260661,1.111785e-01
96,45549,Shopping,1994-12-06,Action|Adventure|Drama|Science Fiction|Thriller,NaN,en,21.669886,68.968649,Channel Four Films,13.0,5.6,2.657647,105.00000,English,Sadie Frost|Jude Law|Sean Pertwee|Fraser James...,21,3,Paul W.S. Anderson,47.298763,3.182696e+00
157,10329,Congo,1995-06-09,Action|Adventure|Drama|Mystery|Science Fiction...,NaN,en,50.000000,152.022101,"Paramount Pictures|Kennedy/Marshall Company, The",214.0,5.0,7.260574,109.00000,English|Fran√ßais,Laura Linney|Dylan Walsh|Ernie Hudson|Tim Curr...,21,9,Frank Marshall,102.022101,3.040442e+00
169,9886,Johnny Mnemonic,1995-05-26,Adventure|Action|Drama|Science Fiction|Thriller,NaN,en,25.000000,19.075720,TriStar Pictures|Alliance Communications Corpo...,380.0,5.5,11.715868,97.00000,English|Êó•Êú¨Ë™û,Keanu Reeves|Dina Meyer|Takeshi Kitano|Ice-T|D...,38,9,Robert Longo,-5.924280,7.630288e-01
178,9070,Mighty Morphin Power Rangers: The Movie,1995-06-30,Action|Adventure|Science Fiction|Family|Fantasy,Power Rangers Collection,en,15.000000,66.000000,Twentieth Century Fox Film Corporation|Saban E...,153.0,5.2,7.024227,92.00000,English,Amy Jo Johnson|Jason David Frank|David Yost|Jo...,12,15,Bryan Spicer,51.000000,4.400000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44424,429524,Drone Wars,2016-03-30,Action|Science Fiction|Thriller,NaN,en,21.669886,68.968649,Cinetel Films,7.0,3.0,1.451207,97.56685,English,Corin Nemec|Jude Lanston|Jake Allyn|Jolene And...,20,9,Jack Perez,47.298763,3.182696e+00
44530,58133,Possibility of an Island,2008-10-09,Science Fiction|Action,NaN,fr,21.669886,68.968649,Mandarin Films,3.0,4.8,0.402427,95.00000,Fran√ßais,Beno√Æt Magimel|Ramata Koite|Patrick Bauchau|An...,5,5,Michel Houellebecq,47.298763,3.182696e+00
44571,90063,Vampires in Havana,1985-07-30,Fantasy|Horror|Action|Comedy|Science Fiction|F...,NaN,es,21.669886,68.968649,Instituto Cubano del Arte e Industrias Cinemat...,10.0,5.3,0.035007,80.00000,Espa√±ol,Frank Gonz√°lez|Irela Bravo|Manuel Mar√≠n|Carlos...,15,11,Juan Padr√≥n,47.298763,3.182696e+00
44583,43085,Dead and Deader,2006-12-16,Horror|Action|Science Fiction|Comedy,NaN,en,21.669886,68.968649,Mindfire Entertainment,10.0,5.8,5.015147,89.00000,English,Dean Cain|Susan Ward|Guy Torry|Natassia Malthe...,14,3,Patrick Dinhut,47.298763,3.182696e+00
44590,71016,The Return of Captain Invincible,1983-01-01,Fantasy|Action|Comedy|Science Fiction,NaN,en,0.000005,68.968649,Seven Keys,7.0,6.0,0.836124,96.00000,English,Alan Arkin|Christopher Lee|Kate Fitzpatrick|Mi...,16,1,Philippe Mora,68.968644,1.379373e+07

In [36]:
res = mdf.loc[mdf['cast'].str.contains('Bruce Willis')]
res

,id,title,release_date,genres,belongs_to_collection,original_language,budget,revenue,production_companies,vote_count,rating,popularity,runtime,spoken_languages,cast,cast_size,crew_size,director,profit,roi
1448,18,The Fifth Element,1997-05-07,Adventure|Fantasy|Action|Thriller|Science Fiction,NaN,en,90.0,263.920180,Columbia Pictures|Gaumont,3962.0,7.3,24.305260,126.0,English|svenska|Deutsch,Bruce Willis|Gary Oldman|Ian Holm|Milla Jovovi...,114,134,Luc Besson,173.920180,2.932446
1786,95,Armageddon,1998-07-01,Action|Thriller|Science Fiction|Adventure,NaN,en,140.0,553.799566,Jerry Bruckheimer Films|Touchstone Pictures|Va...,2540.0,6.5,13.235112,151.0,English|P—É—Å—Å–∫–∏–π,Bruce Willis|Billy Bob Thornton|Ben Affleck|Li...,67,108,Michael Bay,413.799566,3.955711
14135,19959,Surrogates,2009-09-24,Action|Science Fiction|Thriller,NaN,en,80.0,122.444772,Touchstone Pictures|Mandeville Films|Wintergre...,1219.0,5.9,16.211937,89.0,English|Fran√ßais,Bruce Willis|Radha Mitchell|Rosamund Pike|Jame...,44,25,Jonathan Mostow,42.444772,1.530560
19218,59967,Looper,2012-09-26,Action|Thriller|Science Fiction,NaN,en,30.0,47.042000,Endgame Entertainment|FilmDistrict|DMG Enterta...,4777.0,6.6,12.727269,118.0,English,Joseph Gordon-Levitt|Bruce Willis|Emily Blunt|...,34,42,Rian Johnson,17.042000,1.568067
20333,72559,G.I. Joe: Retaliation,2013-03-26,Adventure|Action|Science Fiction|Thriller,G.I. Joe (Live-Action) Collection,en,130.0,371.876278,Paramount Pictures|Di Bonaventura Pictures|Has...,3045.0,5.4,10.560608,110.0,English,Dwayne Johnson|D.J. Cotrona|Adrianne Palicki|B...,20,28,Jon M. Chu,241.876278,2.860587
27619,307663,Vice,2015-01-16,Thriller|Science Fiction|Action|Adventure,NaN,en,10.0,68.968649,Grindstone Entertainment Group|K5 Internationa...,245.0,4.1,19.236571,96.0,English,Ambyr Childers|Thomas Jane|Bryan Greenberg|Bru...,51,56,Brian A Miller,58.968649,6.896865

In [37]:
res.nlargest(10,'rating')

,id,title,release_date,genres,belongs_to_collection,original_language,budget,revenue,production_companies,vote_count,rating,popularity,runtime,spoken_languages,cast,cast_size,crew_size,director,profit,roi
1448,18,The Fifth Element,1997-05-07,Adventure|Fantasy|Action|Thriller|Science Fiction,NaN,en,90.0,263.920180,Columbia Pictures|Gaumont,3962.0,7.3,24.305260,126.0,English|svenska|Deutsch,Bruce Willis|Gary Oldman|Ian Holm|Milla Jovovi...,114,134,Luc Besson,173.920180,2.932446
19218,59967,Looper,2012-09-26,Action|Thriller|Science Fiction,NaN,en,30.0,47.042000,Endgame Entertainment|FilmDistrict|DMG Enterta...,4777.0,6.6,12.727269,118.0,English,Joseph Gordon-Levitt|Bruce Willis|Emily Blunt|...,34,42,Rian Johnson,17.042000,1.568067
1786,95,Armageddon,1998-07-01,Action|Thriller|Science Fiction|Adventure,NaN,en,140.0,553.799566,Jerry Bruckheimer Films|Touchstone Pictures|Va...,2540.0,6.5,13.235112,151.0,English|P—É—Å—Å–∫–∏–π,Bruce Willis|Billy Bob Thornton|Ben Affleck|Li...,67,108,Michael Bay,413.799566,3.955711
14135,19959,Surrogates,2009-09-24,Action|Science Fiction|Thriller,NaN,en,80.0,122.444772,Touchstone Pictures|Mandeville Films|Wintergre...,1219.0,5.9,16.211937,89.0,English|Fran√ßais,Bruce Willis|Radha Mitchell|Rosamund Pike|Jame...,44,25,Jonathan Mostow,42.444772,1.530560
20333,72559,G.I. Joe: Retaliation,2013-03-26,Adventure|Action|Science Fiction|Thriller,G.I. Joe (Live-Action) Collection,en,130.0,371.876278,Paramount Pictures|Di Bonaventura Pictures|Has...,3045.0,5.4,10.560608,110.0,English,Dwayne Johnson|D.J. Cotrona|Adrianne Palicki|B...,20,28,Jon M. Chu,241.876278,2.860587
27619,307663,Vice,2015-01-16,Thriller|Science Fiction|Action|Adventure,NaN,en,10.0,68.968649,Grindstone Entertainment Group|K5 Internationa...,245.0,4.1,19.236571,96.0,English,Ambyr Childers|Thomas Jane|Bryan Greenberg|Bru...,51,56,Brian A Miller,58.968649,6.896865

In [38]:
df['production_companies'] = df['production_companies'].fillna('Unknown')
df.head(1)

,id,title,release_date,genres,belongs_to_collection,original_language,budget,revenue,production_companies,vote_count,rating,popularity,runtime,spoken_languages,cast,cast_size,crew_size,director,profit,roi
0,862,Toy Story,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,5415.0,7.7,21.946943,81.0,English,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter,343.554033,12.451801

In [39]:
pixar = df.loc[df['production_companies'].str.contains('Pixar Animation Studios')]
pixar.head()

,id,title,release_date,genres,belongs_to_collection,original_language,budget,revenue,production_companies,vote_count,rating,popularity,runtime,spoken_languages,cast,cast_size,crew_size,director,profit,roi
0,862,Toy Story,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,5415.0,7.7,21.946943,81.0,English,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter,343.554033,12.451801
2219,9487,A Bug's Life,1998-11-25,Adventure|Animation|Comedy|Family,NaN,en,120.0,363.258859,Walt Disney Pictures|Pixar Animation Studios,2379.0,6.8,16.869209,95.0,English,Kevin Spacey|Julia Louis-Dreyfus|Hayden Panett...,16,19,John Lasseter,243.258859,3.027157
2969,863,Toy Story 2,1999-10-30,Animation|Comedy|Family,Toy Story Collection,en,90.0,497.366869,Pixar Animation Studios,3914.0,7.3,17.547693,92.0,English,Tom Hanks|Tim Allen|Joan Cusack|Kelsey Grammer...,24,172,John Lasseter,407.366869,5.526299
4715,585,"Monsters, Inc.",2001-11-01,Animation|Comedy|Family,"Monsters, Inc. Collection",en,115.0,562.816256,Walt Disney Pictures|Pixar Animation Studios,6150.0,7.5,26.419962,92.0,English,John Goodman|Billy Crystal|Mary Gibbs|Steve Bu...,53,242,Pete Docter,447.816256,4.894054
6179,12,Finding Nemo,2003-05-30,Animation|Family,Finding Nemo Collection,en,94.0,940.335536,Pixar Animation Studios,6292.0,7.6,25.497794,100.0,English,Albert Brooks|Ellen DeGeneres|Alexander Gould|...,24,104,Andrew Stanton,846.335536,10.003570

In [40]:
# pixar.loc[(pixar['release_date']>='2010') & (pixar['release_date']<='2015-12-31')].head()
pixar = pixar.loc[pixar['release_date'].between('2010-01-01','2015-12-31')].head()
pixar

,id,title,release_date,genres,belongs_to_collection,original_language,budget,revenue,production_companies,vote_count,rating,popularity,runtime,spoken_languages,cast,cast_size,crew_size,director,profit,roi
15236,10193,Toy Story 3,2010-06-16,Animation|Family|Comedy,Toy Story Collection,en,200.000000,1066.969703,Walt Disney Pictures|Pixar Animation Studios,4710.0,7.6,16.966470,103.0,English|Espa√±ol,Tom Hanks|Tim Allen|Ned Beatty|Joan Cusack|Mic...,45,38,Lee Unkrich,866.969703,5.334849
16392,40619,Day & Night,2010-06-17,Animation|Family,NaN,en,21.669886,68.968649,Walt Disney Pictures|Pixar Animation Studios,272.0,7.6,6.345512,6.0,NaN,Wayne Dyer,1,1,Teddy Newton,47.298763,3.182696
17220,49013,Cars 2,2011-06-11,Animation|Family|Adventure|Comedy,Cars Collection,en,200.000000,559.852396,Walt Disney Pictures|Pixar Animation Studios,2088.0,5.8,13.693002,106.0,English|Êó•Êú¨Ë™û|Italiano|Fran√ßais,Owen Wilson|Larry the Cable Guy|Michael Caine|...,47,40,John Lasseter,359.852396,2.799262
18900,62177,Brave,2012-06-21,Animation|Adventure|Comedy|Family|Action|Fantasy,NaN,en,185.000000,538.983207,Walt Disney Pictures|Pixar Animation Studios,4760.0,6.7,15.876341,93.0,English,Kelly Macdonald|Billy Connolly|Emma Thompson|J...,15,44,Brenda Chapman,353.983207,2.913423
20888,62211,Monsters University,2013-06-20,Animation|Family,"Monsters, Inc. Collection",en,200.000000,743.559607,Walt Disney Pictures|Pixar Animation Studios,3622.0,7.0,16.267502,104.0,English,Billy Crystal|John Goodman|Steve Buscemi|Helen...,24,13,Dan Scanlon,543.559607,3.717798

In [41]:
pixar.nlargest(10,'revenue')

,id,title,release_date,genres,belongs_to_collection,original_language,budget,revenue,production_companies,vote_count,rating,popularity,runtime,spoken_languages,cast,cast_size,crew_size,director,profit,roi
15236,10193,Toy Story 3,2010-06-16,Animation|Family|Comedy,Toy Story Collection,en,200.000000,1066.969703,Walt Disney Pictures|Pixar Animation Studios,4710.0,7.6,16.966470,103.0,English|Espa√±ol,Tom Hanks|Tim Allen|Ned Beatty|Joan Cusack|Mic...,45,38,Lee Unkrich,866.969703,5.334849
20888,62211,Monsters University,2013-06-20,Animation|Family,"Monsters, Inc. Collection",en,200.000000,743.559607,Walt Disney Pictures|Pixar Animation Studios,3622.0,7.0,16.267502,104.0,English,Billy Crystal|John Goodman|Steve Buscemi|Helen...,24,13,Dan Scanlon,543.559607,3.717798
17220,49013,Cars 2,2011-06-11,Animation|Family|Adventure|Comedy,Cars Collection,en,200.000000,559.852396,Walt Disney Pictures|Pixar Animation Studios,2088.0,5.8,13.693002,106.0,English|Êó•Êú¨Ë™û|Italiano|Fran√ßais,Owen Wilson|Larry the Cable Guy|Michael Caine|...,47,40,John Lasseter,359.852396,2.799262
18900,62177,Brave,2012-06-21,Animation|Adventure|Comedy|Family|Action|Fantasy,NaN,en,185.000000,538.983207,Walt Disney Pictures|Pixar Animation Studios,4760.0,6.7,15.876341,93.0,English,Kelly Macdonald|Billy Connolly|Emma Thompson|J...,15,44,Brenda Chapman,353.983207,2.913423
16392,40619,Day & Night,2010-06-17,Animation|Family,NaN,en,21.669886,68.968649,Walt Disney Pictures|Pixar Animation Studios,272.0,7.6,6.345512,6.0,NaN,Wayne Dyer,1,1,Teddy Newton,47.298763,3.182696